.btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 15px;
    column-gap: 8px;
    margin-bottom: 40px;

    @media (min-width:768px){
        margin-bottom: 30px;
        gap: 8px;
       justify-content: center;

    }
    @media (min-width:1200px){
        margin-bottom: 50px;
       
       }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.portfolio__item-title {
    margin-bottom: 4px;
    color: var(--primary-text);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__item-text {
    color: var(--secondary-text);
    font-size: 16px;
    line-height: 1.87;
}

.portfolio__card {
    position: relative;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    background-color: var(--color-white);
    border-right: #eeeeee solid 1px;
    border-left: #eeeeee solid 1px;
    border-bottom: #eeeeee solid 1px;
    z-index: 1;
}

.portfolio__image {
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-card--shadow {
    position: relative;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


&:hover .portfolio-card__overflow,
&:focus .portfolio-card__overflow {
    transform: translateY(0%);
}


&:hover,
&:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
        0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
}

.portfolio-card__overflow {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 250ms;
    background: rgba(33, 150, 243, 0.9);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}